.header-container{
    background-color: white;
    height: 56px;
    width: 100vw;
    position: fixed;

    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    z-index: 200;
}
.header-overlay{
    height: 100vh;
    width: 100vw;
    /*background-color: rgba(0,0,0,0.3);*/
    position: fixed;
    z-index: 100;
    animation: header-overlay 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes header-overlay {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0,0,0,0.3);
    }
}
.header-logo-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc( 50% - 140px);
}

.header-logo-container-without-hamburger{
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: absolute;
}

.header-logo{
    padding-left: 20px;
    height: 35px;
    margin-top: -3px;
}
.header-page-name{

    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.38);
}
.header-user-section-container{
    padding-bottom: auto;
    padding-left: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-user-section-container:hover{
    background-color: rgba(0, 0, 0, 0.05);
    cursor:pointer;
}
.header-user-section-name{
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.38);
    font-size: 12px;
}

.user-profile-picture{
    border-radius: 50%;
    border: 2px solid #42B549;
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-left: 12px;
}

.header-hambut{
    margin: auto 0;
    cursor: pointer;
}
.header-left-btn{
    display: flex;
    flex-direction: row;
}
.header-hover-section{
    background-color: white;
    position: fixed;

    top: 60px;
    /*right: 8px;*/
    right: 0;
    padding: 16px;
    z-index: 300;
    width: 140px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.login-button{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);

    height: 40px;
    width: 150px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background: #42B549 radial-gradient(circle,transparent 1%,#42B549 1%) center/15000%;
    transition: all .3s ease;
}

.header-title{
    margin: auto;
    width: 100%;
}