.formRow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.formRow-labelContainer {
    padding: 10px;    
}

.formRow-input {
    margin-top: 10px;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    outline: none;
    border: 2px solid #241f1f56;

}