.submit-button{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);

    height: 40px;
    width: 150px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background: #42B549 radial-gradient(circle,transparent 1%,#42B549 1%) center/15000%;
    transition: all .3s ease;
}