.list-class {
    margin-top: 30px;
    text-align: center;
    width:100%;
    height:100%;
    font-family: "Open Sans", sans-serif;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: #34495E;
}

.list-class table {
    margin: 2em 0;
    min-width: 900px;
    margin-left:auto;
    margin-right:auto;
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}

.list-class table {
  margin: 1em 0;
  min-width: 400px;
  margin-left:auto;
  margin-right:auto;
}


.list-class table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.list-class table th {
  display: none;
  font-size: .85em;
  letter-spacing: .1em;
}

.list-class table td {
  display: block;
  font-weight: bold;
}

.list-class table td:nth-child(odd) {
    color: yellow;
}

.list-class table td:first-child {
  padding-top: .5em;
}

.list-class table td:last-child {
  padding-bottom: .5em;
}

.list-class table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 9.5em;
  display: inline-block;
}

@media (min-width: 480px) {
  .list-class table td:before {
    display: none;
  }
}

.list-class table th, .list-class table td {
  text-align: left;
}

@media (min-width: 480px) {
  .list-class table th, .list-class table td {
    display: table-cell;
    padding: .25em .5em;
    text-align: center;
    vertical-align: middle;
  }

  .list-class table th:first-child, .list-class table td:first-child {
    padding-left: 0;
  }

  .list-class table th:last-child, .list-class table td:last-child {
    padding-right: 0;
  }
}

.list-class table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}

.list-class table tr {
  border-color: #46627f;
}

.list-class table th, .list-class table td {
  margin: .5em 1em;
}

@media (min-width: 480px) {
  .list-class table th, .list-class table td {
    padding: 1em !important;
  }
}

.list-class table th, .list-class table td:before {
  color: #dd5;
}
