.homePage-Container {
    background: linear-gradient(90deg, #367DD5 3.78%, #59B1E0 100%);

    padding-top: 2%;
}

.homePage-form {
    border-top: 2px solid #ffffff;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.homePage-BtnCalc {
    padding: 2%;
}

.Category-Dropdown {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.Category-Label {
    padding-right: 1%;
}

.Category-Select {
    width: 150px;
    height: 40px;
    outline: none;
    border: 2px solid #241f1f56;
    outline: none;
    font-size: 12px;
    background-color: #ffffff;
    background-position-x: 244px;
}

.homePage-Title {
    color: #ffffff;
    font-weight: bolder;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-title {
    width: fit-content;
    border: 2px solid #ffffff;
    border-radius: 10px;

}

.submit-button{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);

    height: 40px;
    width: 150px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background: #42B549 radial-gradient(circle,transparent 1%,#42B549 1%) center/15000%;
    transition: all .3s ease;
}