.selectForm-container {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.selectForm-item {
    margin-top: 10px;
    width: 150px;
    height: 45px;
    outline: none;
    border: 2px solid #241f1f56;
    outline: none;
    font-size: 12px;
    background-color: #ffffff;
    background-position-x: 244px;
}